{% extends 'base.html' %}

{% block title %}dashboard{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped table-hover table-sm">
      <thead class="thead-light">
      <tr>
            <th>NAME</th>
            <th>DIVISION</th>
            <th>ITEM</th>
            <th>SERIAL NUMBER</th>
      </tr>
      </thead>
      
      <tbody>
      {% for person in people %}
      <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.division }}</td>
            <td>{{ person.item }}</td>
            <td>{{ person.serial_number }}</td>
      {% endfor %}
      </tbody>     
</table>
{% endblock %}